[submodule "loader"]
	path = external/OpenCL-ICD-Loader
	url = https://github.com/StreamHPC/OpenCL-ICD-Loader.git
	branch = develop_stream
[submodule "headers"]
	path = external/OpenCL-Headers
	url = https://github.com/StreamHPC/OpenCL-Headers.git
	branch = develop_stream
[submodule "headers-cpp"]
	path = external/OpenCL-CLHPP
	url = https://github.com/StreamHPC/OpenCL-CLHPP.git
	branch = develop_stream
